 
 
 
a:active.sb-blog {
	background-position:-20px -40px !important
}
.sb-twitter {
	background-position:-40px 0 !important
}
a:hover.sb-twitter {
	background-position:-40px -20px !important
}
a:active.sb-twitter {
	background-position:-40px -40px !important
}
.sb-facebook {
	background-position:-60px 0 !important
}
a:hover.sb-facebook {
	background-position:-60px -20px !important
}
a:active.sb-facebook {
	background-position:-60px -40px !important
}
.sb-buzz {
	display:none !important
}
.sb-pinterest {
	background-position:-100px 0 !important
}
a:hover.sb-pinterest {
	background-position:-100px -20px !important
}
a:active.sb-pinterest {
	background-position:-100px -40px !important
}
.sb-google {
	background:url(/img/plusone/plusonepreview.png) no-repeat;
	height:20px;
	vertical-align:top;
	width:82px
}
.goog-inline-block {
	position:relative;
	display:-moz-inline-box;
	display:inline-block
}
* html .goog-inline-block {
	display:inline
}
*:first-child+html .goog-inline-block {
	display:inline
}
.goog-custom-button {
	margin:2px;
	border:0;
	padding:0;
	font-family:Arial,sans-serif;
	color:#000;
	text-decoration:none;
	list-style:none;
	vertical-align:middle;
	cursor:default;
	outline:none
}
.goog-custom-button-outer-box,.goog-custom-button-inner-box {
	border-style:solid;
	border-color:transparent;
	vertical-align:top
}
.goog-custom-button-checked .goog-custom-button-outer-box,.goog-custom-button-checked .goog-custom-button-inner-box {
	border-color:#ccc
}
.goog-custom-button-outer-box {
	margin:0;
	border-width:1px 0;
	padding:0
}
.goog-custom-button-inner-box {
	-moz-box-orient:vertical;
	margin:0 -1px;
	border-width:0 1px;
	padding:3px 4px;
	white-space:nowrap
}
* html .goog-custom-button-inner-box {
	right:-1px
}
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
	left:-1px
}
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
	right:auto
}
*:first-child+html .goog-custom-button-inner-box {
	right:-1px
}
*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
	left:1px
}
::root .goog-custom-button,::root .goog-custom-button-outer-box {
	line-height:0
}
::root .goog-custom-button-inner-box {
	line-height:normal
}
.goog-custom-button-active,.goog-custom-button-checked {
	background-color:#faf6bc;
	background-position:bottom right
}
.blog-mobile-link {
	padding:15px
}
#mobile-share-button {
	height:18px;
	padding:1px 10px;
	text-align:center;
	vertical-align:top;
	margin:0
}
#mobile-share-button a {
	display:block;
	height:100%;
	line-height:18px;
	width:100%
}
.mobile-share-panel-outer {
	background:#444
}
.mobile-share-panel-inner {
	background:#fff;
	border-bottom-right-radius:2px 2px;
	border-bottom-left-radius:2px 2px;
	border-radius:3px;
	-webkit-border-radius:3px;
	font-family:Arial;
	font-size:18px;
	color:#666
}
.mobile .mobile-share-panel-inner a {
	display:block;
	color:#666
}
.mobile-share-panel-title {
	background:#f5f5f5;
	border-bottom:1px solid #eee;
	border-top-right-radius:2px 2px;
	border-top-left-radius:2px 2px;
	height:25px;
	line-height:25px;
	padding:10px 20px 10px 10px
}
.mobile a.mobile-share-panel-button {
	background:#fff url(/img/mobile_share_icons4.png) no-repeat right !important;
	border-bottom:1px solid #eee;
	height:50px;
	line-height:30px;
	padding:10px 65px 10px 0;
	width:100%;
	-webkit-box-sizing:border-box
}
.mobile-share-panel-button-close {
	font-size:26px;
	float:left;
	height:25px;
	line-height:25px;
	text-align:center;
	width:25px
}
.mobile a.mobile-share-panel-button-email {
	background-position:10px 0 !important
}
.mobile a.mobile-share-panel-button-facebook {
	background-position:10px -50px !important
}
.mobile a.mobile-share-panel-button-twitter {
	background-position:10px -100px !important
}
.mobile a.mobile-share-panel-button-googleplus {
	background:#fff url(http://www.gstatic.com/images/icons/gplus-32.png) no-repeat right !important;
	background-position:19px 9px !important
}
.mobile a.mobile-share-panel-button-buzz {
	background-position:10px -150px !important;
	border-bottom-right-radius:2px 2px;
	border-bottom-left-radius:2px 2px
}
.svg-icon-24 {
	height:24px;
	width:24px
}
form.gsc-search-box {
	font-size:13px;
	margin-top:0;
	margin-right:0;
	margin-bottom:4px;
	margin-left:0;
	width:100%
}
table.gsc-search-box {
	border-style:none;
	border-width:0;
	border-spacing:0 0;
	width:100%;
	margin-bottom:2px
}
table.gsc-search-box td {
	vertical-align:middle
}
table.gsc-search-box td.gsc-input {
	padding-right:12px
}
td.gsc-search-button {
	width:1%
}
td.gsc-clear-button {
	width:14px
}
input.gsc-search-button {
	margin-left:2px
}
input.gsc-input {
	padding:1px 6px;
	border:1px solid #ddd;
	width:99%
}
.item-control {
	display:none
}
.item-control a,.item-action a {
	text-decoration:none !important
}
.widget-item-control {
	float:right;
	height:20px;
	margin-top:-20px;
	position:relative;
	z-index:10
}
.widget-item-control a {
	opacity:.5
}
.widget-item-control a:hover {
	opacity:1
}
.widget .widget-item-control a img {
	border:none;
	padding:none;
	background:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-ie-box-shadow:none;
	box-shadow:none
}
